# Django
*.pyc
*__pycache__/
db.sqlite3
media/

# Environment
.env
.venv
venv/
env/

# Vercel
.vercel

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Static files (will be collected during build)
staticfiles/